:root {
  --color-background: #D4AAD9;
  --color-input-bg: #A7B5B3;
}

/* Fondo global de toda la app */
body {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}

/* Inputs con fondo gris verdoso */
input.form-control {
  background-color: var(--color-input-bg);
  border: 1px solid #888;
  color: #000;
}

/* Placeholder más visible */
input.form-control::placeholder {
  color: #333;
  opacity: 0.8;
}
