.card {
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  padding: 16px;
  overflow: visible; 
}

.card p {
  margin: 0;
  font-size: 16px;
}

.horizontalScroll {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding-bottom: 8px;
  width: 100%;
}

.horizontalScroll::-webkit-scrollbar {
  display: none;
}

.block {
  min-width: 200px;  
  flex-shrink: 0;     
  padding: 12px;
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 0); 
  background: rgba(233, 231, 231, 0.35);
}

.imageWrapper img {
  width: 95%;
  max-width: 200px;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

.title {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

