.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 28px;
  border-bottom: 1px solid #ddd;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 14px;
}

.avatar {
  width: 48px;
  height: 48px;
  background: #880197;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
}

.role {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  MARGIN-LEFT: 20PX;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-right: 40px;
}

.profileButton {
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.profileButton:hover {
  background: #5a3de0;
}
