
html, body {
  min-height: 100vh;
  height: auto;
}



.container {
  padding: 20px;

}

.title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

/* volver a otra pagina */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.backButton {
  border: none;
  background: transparent;
  color: inherit;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}



.scrollContainer {
  display: flex;
  overflow-x: auto;
  padding-bottom: 20px;
}

.scrollContainer::-webkit-scrollbar {
  display: none;
}


.listContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 80px; /* espacio para el footer */
}

.bebederoWrapper {
  width: 100%;
}
