.button {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
  width: auto;
}

/* Ancho completo */
.full {
  width: 100%;
}

/* PRIMARY */
.primary {
  background-color: #8a4fa3;
}

.primary:hover {
  background-color: #7a4591;
}

/* SECONDARY */
.secondary {
  background-color: #A7B5B3;
  color: black;
}

.secondary:hover {
  background-color: #96a4a2;
}

/* TERTIARY */
.tertiary {
  padding: 8px 14px;
  border-radius: 8px;
  background: #8a4fa3;
  color: white;
  border: none;
  cursor: pointer;
}

.tertiary:hover {
  background-color: #7a4591;
}

/* HERO */
.hero {
  padding: 14px 20px;
  font-size: 30px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.45);
  color: #a3a0a0;
  border-radius: 12px;
  backdrop-filter: blur(4px);
  transition: all 0.3s ease;
}

.hero:hover {
  background: rgba(0, 0, 0, 0.65);
  transform: scale(1.05);
}


/* DANGER */
.danger {
  background-color: #e74c3c;
  color: white;
}



/* VARIANTE CON ÍCONO (back + dashboard) */
.iconButton {
  width: 40px;
  height: 40px;
  background: #8a4fa3;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform .15s ease, background .2s ease;
}

.iconButton:hover {
  background-color: #7a4591;
  transform: scale(1.05);
}

/* IMAGEN DE LOS ICONOS */
.icon {
  width: 20px;
  height: 20px;
  display: block;
}

/* SELECTED (tab base) */
.selected {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid #cacaca;
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  color: #555;
  transition: 0.2s;
}
.selected:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

/* SELECTED ACTIVE (tab seleccionado) */
.selectedActive {
  background: #8a4fa3;
  color: white;
  border: 1px solid #000000;
}