.custom-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
  width: auto; /* 👈 IMPORTANTE */
}

/* Ancho completo solo si se usa fullWidth */
.custom-btn.full {
  width: 100%;
}

/* Botón principal violeta */
.custom-btn.primary {
  background-color: #8a4fa3; /* Ajustado al tono del prototipo */
}

.custom-btn.primary:hover {
  background-color: #7a4591;
}

/* Variante secundaria */
.custom-btn.secondary {
  background-color: #A7B5B3;
  color: black;
}

.custom-btn.secondary:hover {
  background-color: #96a4a2;
}

/* Variante hero */
.custom-btn.hero {
  padding: 14px 32px;
  font-size: 20px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.45);
  color: #c9c6c6;
  border-radius: 12px;
  backdrop-filter: blur(4px);
  transition: all 0.3s ease;
}

.custom-btn.hero:hover {
  background: rgba(0, 0, 0, 0.65);
  transform: scale(1.05);
}
